@import "tailwindcss";


.navbar{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 5rem;
    margin-right: 5rem;

}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    font-size: 1rem;
    color: black;
    font-family: 'GilSans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.login-btn{
    background-color: red;
    color: white;
    border: none;
    height: 2rem;
    width: 6rem;
    border-radius: .2rem;
    font-weight: 600;
    font-family: 'GilSans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 1rem;
}